{
  "userId": "s3-demo-user",
  "password": "c4039d9d416381b553909cc61922a97c",
  "keyServerUris": [
    "https://sepiordemo-0.sepport.sepior.net",
    "https://sepiordemo-1.sepport.sepior.net",
    "https://sepiordemo-2.sepport.sepior.net"
  ],
  "applicationId": "f86d65cf-00ec-4f3b-91a2-52acf84b5d87"
}
