{
  "userId": "s3-demo-user",
  "password": "c4039d9d416381b553909cc61922a97c",
  "keyServerUris": [
    "https://sepiordemo-0.sepport.sepior.net",
    "https://sepiordemo-1.sepport.sepior.net",
    "https://sepiordemo-2.sepport.sepior.net"
  ],
  "applicationId": "11b1e76a-b2b6-4707-9625-4d9282a96428"
}
